.footer-banner {
  background-color: $footer-banner-bgcolor;
  width: 100%;
  
  .footer-banner-td {
    width: 100%;
    height: 200px;
    overflow: hidden;

    img {
      width: 100%;
    }
  }
}
