.simple-copy-btn-right {

  .copy-td {
    padding: 20px;
    width: 60%;
    
    h2 {
      font-size: 19px;
      color: $dark-blue;
      margin-bottom: 5px;
    }

    p {
      margin-top: 0;
    }
  }


  .btn-td {
    text-align: center;
  }
}
