@font-face {
  font-family: 'oswald-regular';
  src: url('../fonts/Oswald-Regular.otf');
}

@font-face {
  font-family: 'oswald-bold';
  src: url('../fonts/Oswald-Bold.otf');
}

@font-face {
  font-family: 'oswald-light';
  src: url('../fonts/Oswald-Light.otf');
}

@font-face {
  font-family: 'oswald-stencil';
  src: url('../fonts/Oswald-Stencil.otf');
}
