//COLOR SHEET - from style guide
$light-pink: #fd71a2;
$pink: #ee2b7b;

$dark-orange: #f7931e;
$orange: #ffc663;

$dark-yellow: #f0bc09;
$yellow: #ffde17;

$dark-green: #8cc63f;
$green: #93de2f;

$dark-blue: #29aae2;
$blue: #75caed;

$dark-purple: #8639b7;
$purple: #8639b7;

$black: #000;
$darkest-gray: #222;
$dark-gray: #333;
$gray: #808285;
$light-gray: #d1d3d4;


// FONTS
$primary-font: 'Trebuchet MS', helvetica, sans-serif;


// SPECIFIC COLORS
$footer-banner-bgcolor: #a689b7;